@use "mixins" as *;

/* @link https://utopia.fyi/clamp/calculator?a=320,1440,27—30 */
$section-pad: clamp(1.6875rem, 1.6339rem + 0.2679vw, 1.875rem);

header {
  width: 100%;
  padding-block: 10px;
  padding-inline: clamp(1.6875rem, 1.6339rem + 0.2679vw, 1.875rem);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  mix-blend-mode: difference;
}

.logo,
.main_nav,
.account,
.main_btn {
  color: white;
}

.main_nav_container {
  display: none;
  visibility: hidden;
  @include tablet() {
    display: block;
    visibility: visible;
  }
  @include desktop() {
    width: 60% !important;
  }
}

.main_nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: row;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 0;
  @include desktop() {
    justify-content: space-between;
  }
}

.logo {
  height: 4rem;
  width: 3.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(/svgs/logo.svg);
}

.main_nav_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 0;
  svg {
    width: 30px;
    height: 30px;
  }
  @include tablet() {
    li:last-child {
      display: none;
    }
  }
}

.main_btn {
  font-family: "Robson", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.mobile_nav_container {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  overflow: hidden;
  @include tablet() {
    visibility: hidden;
  }
}

.mobile_nav {
  color: white;
  inset: 0;
  display: flex;
  padding-left: 2vw;
  flex-direction: column;
  gap: 50px;
  font-size: 3rem;
  font-family: "Robson", sans-serif;
  font-weight: 900;
  margin-top: 100px;
}

.account {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.active_account {
  position: absolute;
  right: -3px;
  top: -5px;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: green;
}
