@use "mixins" as *;

.form_container {
  display: grid;
  /* @link https://utopia.fyi/clamp/calculator?a=320,1440,16—56 */
  gap: clamp(1rem, 0.8571rem + 1.0143vw, 3.5rem);
  @include tablet() {
    grid-template-columns: 1fr 1fr;
  }
}

.form_form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1,
  h2,
  p {
    text-align: center;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }

  label {
    font-weight: 500;
  }

  input {
    font-size: 1.3rem;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
  }
}

.form_img {
  display: none;
  @include tablet() {
    display: block;
    border-radius: 30px;
    padding: 10px;
  }
}

.form_link {
  display: inline;
  text-decoration: underline;
  font-family: "Satoshi", sans-serif;
}

.form_button {
  padding: 15px;
  color: white;
  background-color: black;
  margin-bottom: 40px;
}

.form_options {
  display: grid;
  gap: 10px;
  button {
    padding: 10px 5px;
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      font-weight: 400;
    }
  }
}
